ansible/host.ini
projects/hbase/demo/target/classes/com/example/*
projects/hbase/demo/target/test-classes/com/example/*
.vscode/*
projects/jvm/demo/target/classes/com/example/*
projects/jvm/demo/target/test-classes/com/example/*